h1 {
  color:rgb(255, 89, 1000);
  font-family: helvetica;
  margin: 0px;
}

h2 {
  color: rgb(400,89,100) ;
  font-family: helvetica;
  margin-left: 0px;
}
div.contrast {
  background-color: white ;
  color: white ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
