
h1 {
  color:#8c885f;
  font-family: helvetica;
  font-size: 72px;
  margin: 0px;
}

h2 {
  color: black;
font-family: auto;
font-style: italic;
font-size: 50px;
margin-left: 0px;

}


div.contrast {
  background-color: white ;
  color: white ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.round {
  margin-left: 300px;
  margin-right: 700px;
  border-radius: 8px
}

.logo{
  height: 103px;
}

.bg-light {
    background-color: #f2f2f2 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(141, 136, 93);
   font-family: 'Roboto', sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #f2f2f2;
}
.btn-outline-success:hover {
  background-color:  #f2f2f2
}
li { margin: 0 30px;
  display: inline;
}

#searchbutton {
  background-color: #8d8860;
  color: white;
  border-color: white;

}

.maincontent {
  display: flex;

}

.hero{
  width: 50%
  div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text {
  width: 50%
}
